{% extends 'base.html' %}

{% block content %}
<div class="column is-4 is-offset-4 ">
    <h2 class="title">Items</h2>
      <div class="box">
        <article class="media">
        <div class="media-content">
            <div class="content">
              <strong>{{ item['name'] }}</strong>
              <br>
              {{ item['text'] }}
            </div>
        </div>
              <button class="button is-danger is-outlined">
                <span>Delete</span>
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              </button>
        </article>
      </div>
    <form method="POST" action="/items">
      <button class="button is-fullwidth is-info">Back</button>
    </form>
</div>
{% endblock %}